
.head-item-1,.head-sub-item-2{
    list-style-type: none;
    height:60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
     background-color: #070101;
  }

  .head-sub-item-2{
    float: right;
  }
  
  .list {
    float: left;
  }
  
  .list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .list a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }